.container-Calcas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content:center;
  width: 100%;
}

.produtoCalcas {
  border: 1px solid red;
  width: 250px;
  
}

.btnCompraCalcas {
  width: 200px;
  height: 40px;
  background: #00A8A9;
  border-radius: 5px;
  border: none;
  color: #fff;

}