.main-div {
  width: 100%;
  display: flex;
  height: 400px;
}

fieldset {
  width: 15%;
}

/* fieldset input {
  display: block;
} */
.container-Todos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  width: 80%;
  margin-bottom: 10%;
}

.produtoTodos {
  border: 1px solid red;
  width: 250px;
}

.produtoTodos img {
  width: 200px;
}

.btnCompraTodos {
  width: 200px;
  height: 40px;
  background: #00A8A9;
  border-radius: 5px;
  border: none;
  color: #fff;

}